<a href="https://colab.research.google.com/github/econ105/AI/blob/main/Python/Algotrading/Technical_analysis_with_python_v2_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Technical analysis with python

pip install pandas_ta

In [2]:
!pip install pandas_ta

Collecting pandas_ta
  Downloading pandas_ta-0.4.71b0-py3-none-any.whl.metadata (2.3 kB)
Collecting numba==0.61.2 (from pandas_ta)
  Downloading numba-0.61.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (2.8 kB)
Collecting numpy>=2.2.6 (from pandas_ta)
  Downloading numpy-2.4.2-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Collecting pandas>=2.3.2 (from pandas_ta)
  Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.5/79.5 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: tqdm>=4.67.1 in /usr/local/lib/python3.12/dist-packages (from pandas_ta) (4.67.3)
Collecting llvmlite<0.45,>=0.44.0dev0 (from numba==0.61.2->pandas_ta)
  Downloading llvmlite-0.44.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.0 kB)
Collecting numpy>=2.2.6 (from pandas_ta)
  Downloading numpy-2.2.6-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.0/62.0 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas>=2.3.2->pandas_ta) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas>=2.3.2->pandas_ta) (1.17.0)
Downloading pandas_ta-0.4.71b0-py3-none-any.whl (240 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.3/240.3 kB 11.5 MB/s eta 0:00:00
Downloading numba-0.61.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 62.3 MB/s eta 0:00:00
Downloading numpy-2.2.6-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.5/16.5 MB 80.0 MB/s eta 0:00:00
Downloading pandas-3.0.0-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (10.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.9/10.9 MB 104.7 MB/s eta 0:00:00
Downloading llvmlite-0.44.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (42.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.4/42.4 MB 16.5 MB/s eta 0:00:00
Installing collected packages: numpy, llvmlite, pandas, numba, pandas_ta
  Attempting uninstall: numpy
    Found existing installation: numpy 2.0.2
    Uninstalling numpy-2.0.2:
      Successfully uninstalled numpy-2.0.2
  Attempting uninstall: llvmlite
    Found existing installation: llvmlite 0.43.0
    Uninstalling llvmlite-0.43.0:
      Successfully uninstalled llvmlite-0.43.0
  Attempting uninstall: pandas
    Found existing installation: pandas 2.2.2
    Uninstalling pandas-2.2.2:
      Successfully uninstalled pandas-2.2.2
  Attempting uninstall: numba
    Found existing installation: numba 0.60.0
    Uninstalling numba-0.60.0:
      Successfully uninstalled numba-0.60.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas==2.2.2, but you have pandas 3.0.0 which is incompatible.
bqplot 0.12.45 requires pandas<3.0.0,>=1.0.0, but you have pandas 3.0.0 which is incompatible.
gradio 5.50.0 requires pandas<3.0,>=1.0, but you have pandas 3.0.0 which is incompatible.
db-dtypes 1.5.0 requires pandas<3.0.0,>=1.5.3, but you have pandas 3.0.0 which is incompatible.
tensorflow 2.19.0 requires numpy<2.2.0,>=1.26.0, but you have numpy 2.2.6 which is incompatible.
Successfully installed llvmlite-0.44.0 numba-0.61.2 numpy-2.2.6 pandas-3.0.0 pandas_ta-0.4.71b0

In [1]:
import pandas as pd
import pandas_ta as ta
import yfinance as yf
#import mplfinance as mpf

In [2]:
df=yf.download("^HSI","2020-01-01")

/tmp/ipython-input-807779874.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df=yf.download("^HSI","2020-01-01")
/usr/local/lib/python3.12/dist-packages/yfinance/scrapers/history.py:147: Pandas4Warning: Timestamp.utcnow is deprecated and will be removed in a future version. Use Timestamp.now('UTC') instead.
  end_dt = pd.Timestamp.utcnow().tz_convert(tz)
/usr/local/lib/python3.12/dist-packages/yfinance/scrapers/history.py:204: Pandas4Warning: Timestamp.utcnow is deprecated and will be removed in a future version. Use Timestamp.now('UTC') instead.
  dt_now = pd.Timestamp.utcnow()
[*********************100%***********************]  1 of 1 completed

In [3]:
df.tail()

Price              Close          High           Low          Open      Volume
Ticker              ^HSI          ^HSI          ^HSI          ^HSI        ^HSI
Date
2026-02-09  27027.160156  27111.539062  26879.099609  26982.490234  2734500000
2026-02-10  27183.150391  27397.650391  27104.820312  27202.960938  2554300000
2026-02-11  27266.380859  27325.980469  27133.769531  27246.179688  2403700000
2026-02-12  27032.539062  27215.630859  26932.560547  27210.560547  2668800000
2026-02-13  26567.119141  26774.439453  26444.460938  26640.160156  2489000000

In [4]:
# Calculate EMA with a span of 12 periods
df['EMA20'] = ta.ema(df['Close'],length=20)
df['EMA60'] = ta.ema(df['Close'],length=60)

In [5]:
df.tail()

Price,Close,High,Low,Open,Volume,EMA20,EMA60
Ticker,^HSI,^HSI,^HSI,^HSI,^HSI,,
Date,,,,,,,
2026-02-09,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None
2026-02-10,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None
2026-02-11,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None
2026-02-12,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None
2026-02-13,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None

In [6]:
macd = ta.macd(df['Close'], fast=12, slow=26, signal=9)

In [7]:
macd

In [8]:
df = pd.concat([df, macd], axis=1)

In [9]:
df.tail()

Price,Close,High,Low,Open,Volume,EMA20,EMA60
Ticker,^HSI,^HSI,^HSI,^HSI,^HSI,,
Date,,,,,,,
2026-02-09,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None
2026-02-10,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None
2026-02-11,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None
2026-02-12,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None
2026-02-13,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None

In [10]:
stoch = df.ta.stoch(high='High', low='Low', close='Close')

# Join the result with the original DataFrame
df = pd.concat([df, stoch], axis=1)

In [11]:
df.tail()

Price,Close,High,Low,Open,Volume,EMA20,EMA60,Close,High,Low,Open,Volume,EMA20,EMA60
Ticker,^HSI,^HSI,^HSI,^HSI,^HSI,,,^HSI,^HSI,^HSI,^HSI,^HSI,,
Date,,,,,,,,,,,,,,
2026-02-09,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None
2026-02-10,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None
2026-02-11,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None
2026-02-12,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None
2026-02-13,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None

In [12]:
df['RSI_14'] = ta.rsi(df['Close'],length=14)

In [13]:
df.tail()

Price,Close,High,Low,Open,Volume,EMA20,EMA60,Close,High,Low,Open,Volume,EMA20,EMA60,RSI_14
Ticker,^HSI,^HSI,^HSI,^HSI,^HSI,,,^HSI,^HSI,^HSI,^HSI,^HSI,,,
Date,,,,,,,,,,,,,,,
2026-02-09,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None,None
2026-02-10,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None,None
2026-02-11,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None,None
2026-02-12,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None,None
2026-02-13,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None,None

## Crossover/crossunder

In [14]:
df["EMA20"]

Ticker
Date
2020-01-02  None  None
2020-01-03  None  None
2020-01-06  None  None
2020-01-07  None  None
2020-01-08  None  None
...          ...   ...
2026-02-09  None  None
2026-02-10  None  None
2026-02-11  None  None
2026-02-12  None  None
2026-02-13  None  None

[1507 rows x 2 columns]

In [15]:
df["EMA20"].shift()

Ticker
Date
2020-01-02  None  None
2020-01-03  None  None
2020-01-06  None  None
2020-01-07  None  None
2020-01-08  None  None
...          ...   ...
2026-02-09  None  None
2026-02-10  None  None
2026-02-11  None  None
2026-02-12  None  None
2026-02-13  None  None

[1507 rows x 2 columns]

In [17]:
import pandas as pd

# --- Step 1: Inspect column structure ---
print("Columns:", df.columns)

# --- Step 2: Normalize EMA columns ---
# Ensure EMA20 and EMA60 are Series, not DataFrames
if isinstance(df["EMA20"], pd.DataFrame):
    ema20 = df["EMA20"].iloc[:, 0]   # take first sub-column
else:
    ema20 = df["EMA20"]

if isinstance(df["EMA60"], pd.DataFrame):
    ema60 = df["EMA60"].iloc[:, 0]
else:
    ema60 = df["EMA60"]

# --- Step 3: Define crossover and crossunder conditions ---
df["EMA_crossover"] = (ema20 > ema60) & (ema20.shift() <= ema60.shift())
df["EMA_crossunder"] = (ema20 < ema60) & (ema20.shift() >= ema60.shift())

# --- Step 4: Optional: mark signals visually ---
df["Signal"] = 0
df.loc[df["EMA_crossover"], "Signal"] = 1   # Buy signal
df.loc[df["EMA_crossunder"], "Signal"] = -1 # Sell signal

# --- Step 5: Quick check ---
print(df[["EMA20", "EMA60", "EMA_crossover", "EMA_crossunder", "Signal"]].tail())

Columns: MultiIndex([( 'Close', '^HSI'),
            (  'High', '^HSI'),
            (   'Low', '^HSI'),
            (  'Open', '^HSI'),
            ('Volume', '^HSI'),
            ( 'EMA20',     ''),
            ( 'EMA60',     ''),
            ( 'Close', '^HSI'),
            (  'High', '^HSI'),
            (   'Low', '^HSI'),
            (  'Open', '^HSI'),
            ('Volume', '^HSI'),
            ( 'EMA20',     ''),
            ( 'EMA60',     ''),
            ('RSI_14',     '')],
           names=['Price', 'Ticker'])
Price      EMA20       EMA60       EMA_crossover EMA_crossunder Signal
Ticker
Date
2026-02-09  None  None  None  None         False          False      0
2026-02-10  None  None  None  None         False          False      0
2026-02-11  None  None  None  None         False          False      0
2026-02-12  None  None  None  None         False          False      0
2026-02-13  None  None  None  None         False          False      0

In [18]:
df.tail()

Price,Close,High,Low,Open,Volume,EMA20,EMA60,Close,High,Low,Open,Volume,EMA20,EMA60,RSI_14,EMA_crossover,EMA_crossunder,Signal
Ticker,^HSI,^HSI,^HSI,^HSI,^HSI,,,^HSI,^HSI,^HSI,^HSI,^HSI,,,,,,
Date,,,,,,,,,,,,,,,,,,
2026-02-09,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None,None,False,False,0
2026-02-10,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None,None,False,False,0
2026-02-11,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None,None,False,False,0
2026-02-12,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None,None,False,False,0
2026-02-13,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None,None,False,False,0

In [19]:
df["EMA_crossover"].sum()

np.int64(0)

In [20]:
df["EMA_crossunder"].sum()

np.int64(0)

## Gap

In [22]:
import pandas as pd

# --- Step 1: Inspect column structure ---
print("Columns:", df.columns)

# --- Step 2: Normalize columns into Series ---
def get_series(df, colname):
    """Return a Series even if df[colname] is a DataFrame."""
    col = df[colname]
    return col.iloc[:,0] if isinstance(col, pd.DataFrame) else col

ema20 = get_series(df, "EMA20")
ema60 = get_series(df, "EMA60")
open_ = get_series(df, "Open")
close = get_series(df, "Close")

# --- Step 3: Compute crossover & crossunder ---
df["EMA_crossover"] = (ema20 > ema60) & (ema20.shift() <= ema60.shift())
df["EMA_crossunder"] = (ema20 < ema60) & (ema20.shift() >= ema60.shift())

# --- Step 4: Compute gap (open vs prior close) ---
df["Gap"] = open_ - close.shift()

# --- Step 5: Optional unified signal column ---
df["Signal"] = 0
df.loc[df["EMA_crossover"], "Signal"] = 1   # Buy
df.loc[df["EMA_crossunder"], "Signal"] = -1 # Sell

# --- Step 6: Quick check ---
print(df[["Open","Close","EMA20","EMA60","Gap","EMA_crossover","EMA_crossunder","Signal"]].tail())

Columns: MultiIndex([(         'Close', '^HSI'),
            (          'High', '^HSI'),
            (           'Low', '^HSI'),
            (          'Open', '^HSI'),
            (        'Volume', '^HSI'),
            (         'EMA20',     ''),
            (         'EMA60',     ''),
            (         'Close', '^HSI'),
            (          'High', '^HSI'),
            (           'Low', '^HSI'),
            (          'Open', '^HSI'),
            (        'Volume', '^HSI'),
            (         'EMA20',     ''),
            (         'EMA60',     ''),
            (        'RSI_14',     ''),
            ( 'EMA_crossover',     ''),
            ('EMA_crossunder',     ''),
            (        'Signal',     '')],
           names=['Price', 'Ticker'])
Price               Open                       Close               EMA20  \
Ticker              ^HSI          ^HSI          ^HSI          ^HSI
Date
2026-02-09  26982.490234  26982.490234  27027.160156  27027.160156  None
2026-02-10  27202.960938  27202.960938  27183.150391  27183.150391  None
2026-02-11  27246.179688  27246.179688  27266.380859  27266.380859  None
2026-02-12  27210.560547  27210.560547  27032.539062  27032.539062  None
2026-02-13  26640.160156  26640.160156  26567.119141  26567.119141  None

Price            EMA60               Gap EMA_crossover EMA_crossunder Signal
Ticker
Date
2026-02-09  None  None  None  422.541016         False          False      0
2026-02-10  None  None  None  175.800781         False          False      0
2026-02-11  None  None  None   63.029297         False          False      0
2026-02-12  None  None  None  -55.820312         False          False      0
2026-02-13  None  None  None -392.378906         False          False      0

In [23]:
df.tail()

Price,Close,High,Low,Open,Volume,EMA20,EMA60,Close,High,Low,Open,Volume,EMA20,EMA60,RSI_14,EMA_crossover,EMA_crossunder,Signal,Gap
Ticker,^HSI,^HSI,^HSI,^HSI,^HSI,,,^HSI,^HSI,^HSI,^HSI,^HSI,,,,,,,
Date,,,,,,,,,,,,,,,,,,,
2026-02-09,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None,None,False,False,0,422.541016
2026-02-10,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None,27183.150391,27397.650391,27104.820312,27202.960938,2554300000,None,None,None,False,False,0,175.800781
2026-02-11,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None,27266.380859,27325.980469,27133.769531,27246.179688,2403700000,None,None,None,False,False,0,63.029297
2026-02-12,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None,27032.539062,27215.630859,26932.560547,27210.560547,2668800000,None,None,None,False,False,0,-55.820312
2026-02-13,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None,26567.119141,26774.439453,26444.460938,26640.160156,2489000000,None,None,None,False,False,0,-392.378906

In [24]:
df["Gap"].describe()

count    1506.000000
mean        9.509956
std       219.366518
min     -2119.759766
25%      -107.236816
50%        13.838867
75%       123.432129
max      1343.210938
Name: Gap, dtype: float64

In [25]:
df["Gap"].abs().describe()

count    1506.000000
mean      153.706675
std       156.750529
min         0.060547
25%        51.967773
50%       114.839844
75%       204.252930
max      2119.759766
Name: Gap, dtype: float64

In [26]:
df["Gap"].abs().quantile(0.9)

np.float64(320.7890625)

In [27]:
df["Gap"]>=200

Date
2020-01-02    False
2020-01-03     True
2020-01-06    False
2020-01-07    False
2020-01-08    False
              ...
2026-02-09     True
2026-02-10    False
2026-02-11    False
2026-02-12    False
2026-02-13    False
Name: Gap, Length: 1507, dtype: bool

In [28]:
df["Gap_up"]=df["Gap"]>=200

In [29]:
df["Gap_up"].sum()

np.int64(210)

In [30]:
df[df["Gap_up"]==True]

Price,Close,High,Low,Open,Volume,EMA20,EMA60,Close,High,Low,Open,Volume,EMA20,EMA60,RSI_14,EMA_crossover,EMA_crossunder,Signal,Gap,Gap_up
Ticker,^HSI,^HSI,^HSI,^HSI,^HSI,,,^HSI,^HSI,^HSI,^HSI,^HSI,,,,,,,,
Date,,,,,,,,,,,,,,,,,,,,
2020-01-03,28451.500000,28883.300781,28428.169922,28828.359375,1797900000,None,None,28451.500000,28883.300781,28428.169922,28828.359375,1797900000,None,None,None,False,False,0,284.839844,True
2020-01-09,28561.000000,28561.000000,28325.859375,28367.650391,1692800000,None,None,28561.000000,28561.000000,28325.859375,28367.650391,1692800000,None,None,None,False,False,0,279.730469,True
2020-01-31,26312.630859,26818.839844,26295.490234,26757.609375,1874300000,None,None,26312.630859,26818.839844,26295.490234,26757.609375,1874300000,None,None,None,False,False,0,308.478516,True
2020-02-06,27493.699219,27608.220703,27029.490234,27174.529297,2249500000,None,None,27493.699219,27608.220703,27029.490234,27174.529297,2249500000,None,None,None,False,False,0,387.789062,True
2020-02-11,27583.880859,27674.810547,27436.990234,27514.250000,1868600000,None,None,27583.880859,27674.810547,27436.990234,27514.250000,1868600000,None,None,None,False,False,0,272.910156,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-12-12,25976.789062,26006.470703,25697.429688,25761.410156,3219500000,None,None,25976.789062,26006.470703,25697.429688,25761.410156,3219500000,None,None,None,False,False,0,230.900391,True
2026-01-13,26848.470703,27143.660156,26729.539062,26958.519531,3691700000,None,None,26848.470703,27143.660156,26729.539062,26958.519531,3691700000,None,None,None,False,False,0,350.039062,True
2026-01-23,26749.509766,26895.939453,26689.730469,26861.359375,2803500000,None,None,26749.509766,26895.939453,26689.730469,26861.359375,2803500000,None,None,None,False,False,0,231.398438,True
2026-02-03,26834.769531,27126.480469,26431.800781,26995.759766,3425200000,None,None,26834.769531,27126.480469,26431.800781,26995.759766,3425200000,None,None,None,False,False,0,220.189453,True
2026-02-09,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None,27027.160156,27111.539062,26879.099609,26982.490234,2734500000,None,None,None,False,False,0,422.541016,True